<h1>Stupid Coaching</h1>
<div class="border">
<p><%= @question %></p>
<p>-You</p>
</div>

<div class="answer border">
  <strong><%=@answer%></strong>
<p>Your Coach</p>
</div>


<%= link_to 'go back', ask_path %>
