// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer{
  background-color: lightyellow;
}


.border{
  border-left-color: grey;
  border-left-width: 5px;
  border-left-style: solid;
}

.ask_button{
  background-color: blue;
  color: white;
}
